.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 70px 70px 60px;
  gap: 70px;
  margin-bottom: 20px;
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 0px 0px 6px var(--color-box-icon-shadow);
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.input {
  outline: none;
  border: none;
  padding: 3px;
  border-bottom: 2px solid var(--color-accent);
  font-size: 17px;
}

.textSpan {
  font-size: 17px;
}

.myImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
