.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 30px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.link {
  display: flex;
  align-items: center;
}

.logo {
  width: 105px;
  height: 61px;
  margin-right: 40px;
}

.logo path {
  fill: var(--color-text);
}

.list {
  margin: 0 17px;
  transition: 0.3s ease-in-out;
}

.list:hover {
  color: var(--color-orange);
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.button {
  cursor: pointer;
}
