.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 30px;
}

.logo {
  width: 100px;
  height: 56px;
}

.logo path {
  fill: var(--color-text);
}

.list {
  margin: 0 30px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.list:hover {
  color: var(--color-accent);
}

.button {
  width: 100px;
  display: flex;
  justify-content: flex-end;
}
