:root {
  --color-bg-pink: #ffe3e3;
  --color-box-shadow: rgb(250 55 55 / 10%);
  --color-white: #fdfffd;
  --color-text-white: #fdfffd;
  --color-grey: #d1d1d1;
  --color-light-gray: rgb(177, 177, 177);
  --color-text: #22243b;
  --color-pink: #ffbebe;
  --color-dark-pink: #dd8b8b;
  --color-accent: #c34265;
  --color-orange: #f78f07;
  --color-scrollbar: #aaa7a7;
}

html.dark {
  --color-bg-pink: #2c2c34;
  --color-box-shadow: #282a4d;
  --color-grey: #383838;
  --color-text: #e9e9e9;
  --color-white: #42424a;
  --color-pink: #2e3158;
  --color-dark-pink: #584ab4;
  --color-orange: #d07be0;
  --color-accent: #c5bdfc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  font-size: 13px;
  color: var(--color-text);
  accent-color: var(--color-accent);
  background-color: var(--color-bg-pink);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

input {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-pink);
  border-radius: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-orange);
}
