.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-pink);
  border-bottom: 1px solid var(--color-box-shadow);
  padding: 20px 50px;
}

.filters {
  display: flex;
}

.filter {
  margin: 10px 30px 10px 0px;
  font-size: 20px;
  color: var(--color-text-white);
  font-weight: bold;
}

.filter:hover,
.filter.selected {
  color: var(--color-accent);
}

.filter.selected::after {
  content: "";
  display: block;
  margin-top: 5px;
  border: 2px solid var(--color-accent);
}

.todo {
  font-size: 20px;
  color: var(--color-accent);
  font-weight: bold;
}
